Toll_Spec_Schema_v1.0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 rel. 3 sp1 (x64) (http://www.altova.com) by Leidos, Inc. (Leidos, Inc.) -->
<!-- W3C Schema generated by XMLSpy v2015 rel. 3 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="toll-message">
		<xs:annotation>
			<xs:documentation> Toll Message</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="message-header">
					<xs:annotation>
						<xs:documentation>Information about the Toll Message such as time when published, message version, etc.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="toll-data-published-time">
								<xs:annotation>
									<xs:documentation>Timestamp when the toll data was last published/updated. Toll data covers toll signs changes, toll rate changes, etc.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:dateTime"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="message-published-time">
								<xs:annotation>
									<xs:documentation>Time when the toll message was generated/published.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:dateTime"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="message-version" type="xs:string">
								<xs:annotation>
									<xs:documentation>Toll Message Specification Version</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="message-publish-frequency" type="xs:integer" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Specifies the frequency by which toll messages are being published by the toll agency.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="toll-authority-info">
					<xs:annotation>
						<xs:documentation>Information about Toll Authority providing the toll information</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="toll-authority">
								<xs:annotation>
									<xs:documentation>Toll Authority Name</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="toll-program">
								<xs:annotation>
									<xs:documentation>Toll Program Name</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="toll-info-type" type="tollInfoType">
								<xs:annotation>
									<xs:documentation>Specifies if the toll information is static data, dynamic data or mix of both static and configuration data.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="general-toll-info" minOccurs="0">
					<xs:annotation>
						<xs:documentation>General toll information that applies to all toll signs globally</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="tolled-vehicles" type="tolledVehiclesType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Types of vehicles that require to pay toll</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="tolling-methods" type="tollingMethodsType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Types of tolling methods applicable to all toll signs</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="payment-options" type="paymentOptionsType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Type of payment options applicable to all toll signs</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="toll-periods" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Toll schedule definitions based on times of day and days of week</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="toll-period" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="id">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="MF0005"/>
																<xs:enumeration value="MF0510"/>
																<xs:enumeration value="MF1015"/>
																<xs:enumeration value="MF1519"/>
																<xs:enumeration value="MF1900"/>
																<xs:enumeration value="WEEKEND"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="start-time">
														<xs:simpleType>
															<xs:restriction base="xs:short">
																<xs:enumeration value="0"/>
																<xs:enumeration value="1000"/>
																<xs:enumeration value="1500"/>
																<xs:enumeration value="1900"/>
																<xs:enumeration value="500"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="end-time">
														<xs:simpleType>
															<xs:restriction base="xs:short">
																<xs:enumeration value="0"/>
																<xs:enumeration value="1000"/>
																<xs:enumeration value="1500"/>
																<xs:enumeration value="1900"/>
																<xs:enumeration value="500"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="days-of-week">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="Mo,Tu,We,Th,Fr"/>
																<xs:enumeration value="Sa,Su"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="minimum-toll" type="tollPriceType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Minimum toll for all toll signs</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="maximum-toll" type="tollPriceType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Maximum toll for all toll signs</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="toll-currency" default="USD" minOccurs="0">
								<xs:annotation>
									<xs:documentation>ISO 4217 based 3-Letter currency code. Example: For US Dollars = USD</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="[A-Z][A-Z][A-Z]"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="toll-exemptions" type="tollExemptionsType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>List of vehicles and lanes that are exempted from providing toll and/or any general toll exemption information</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="toll-restrictions" type="tollRestrictionsType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>List of vehicles and lanes that are restricted from using toll or not allowed in toll area. In addition to that any general free-form toll restriction information</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="toll-signs">
					<xs:annotation>
						<xs:documentation>List of Toll Signs</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="toll-sign" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id">
											<xs:annotation>
												<xs:documentation>Unique Toll Sign ID</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="ts1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="lat" type="xs:string">
											<xs:annotation>
												<xs:documentation>Latitiude of Toll Sign location in decimal degrees</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="lng" type="xs:string">
											<xs:annotation>
												<xs:documentation>Longitude of Toll Sign Location in decimal degrees</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="name" minOccurs="0">
											<xs:annotation>
												<xs:documentation>User Friendly Name for Toll Sign</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="SF Oakland Bay Bridge"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="toll-sign-status" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Toll Sign Operational Status</xs:documentation>
											</xs:annotation>
											<xs:complexType/>
										</xs:element>
										<xs:element name="description" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="San Francisco Oakland Bay Bridge Westbound on I-80"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="toll-sign-image-link" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>URL to the toll sign actual image.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="raw-sign-message" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Raw text message informatoin as it appears on the toll sign.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="message-line" type="xs:string" maxOccurs="8">
														<xs:annotation>
															<xs:documentation>Message Line containing text message per line (as it apperas on the toll sign). The message lines must be provided in the order it appears on the actual sign.</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="additional-info" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Additional information about the desitnation or any general information. This can also include references/links that provide more detail</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="info" type="xs:string" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="toll-destinations">
											<xs:annotation>
												<xs:documentation>List of toll destinations for a particular toll sign</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="toll-destination" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="id">
																	<xs:annotation>
																		<xs:documentation>Unique Toll Destination ID</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string"/>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="name">
																	<xs:annotation>
																		<xs:documentation>Toll Destination Name</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string"/>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="description" type="xs:string" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Toll Destination Description</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="destination-type" type="destinationType" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Toll destination type such as bridge, tunnel, freeway</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="additional-info" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Additional information about the desitnation or any general information. This can also include references/links that provide more detail</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="info" type="xs:string" maxOccurs="unbounded"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="travel-time" type="xs:integer" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Travel time (in minutes) from toll sign location to the toll destination</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="toll-rates">
																	<xs:annotation>
																		<xs:documentation>List of toll rates</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="toll-rate" maxOccurs="unbounded">
																				<xs:annotation>
																					<xs:documentation>Toll rate information with toll price and any additional toll details (schedule, exemptions, restrictions, etc.)</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="toll-price">
																							<xs:annotation>
																								<xs:documentation>Toll price specified in fraction like 2.5</xs:documentation>
																							</xs:annotation>
																							<xs:simpleType>
																								<xs:restriction base="tollPriceType"/>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="toll-period-refs" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation>List of toll period references</xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="toll-period-ref" type="xs:string" maxOccurs="unbounded"/>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="toll-restrictions" type="tollExemptionsType" minOccurs="0"/>
																						<xs:element name="toll-exemptions" type="tollRestrictionsType" minOccurs="0"/>
																						<xs:element name="tolled-vehicles" type="tolledVehiclesType" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation>Types of vehicles that require to pay toll</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="tolling-methods" type="tollingMethodsType" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation>Types of tolling methods applicable to all toll signs</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="payment-options" type="paymentOptionsType" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation>Type of payment options applicable to all toll signs</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="vehicleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AV"/>
			<xs:enumeration value="SOV"/>
			<xs:enumeration value="HOV2+"/>
			<xs:enumeration value="HOV2OC"/>
			<xs:enumeration value="HOV3+"/>
			<xs:enumeration value="HOV4+"/>
			<xs:enumeration value="HYBCARS"/>
			<xs:enumeration value="MOTORBIKE"/>
			<xs:enumeration value="BUS"/>
			<xs:enumeration value="VANPOOL"/>
			<xs:enumeration value="LOWEV"/>
			<xs:enumeration value="HIGHEV"/>
			<xs:enumeration value="TRAILER"/>
			<xs:enumeration value="AXLE2"/>
			<xs:enumeration value="AXLE3"/>
			<xs:enumeration value="AXLE4"/>
			<xs:enumeration value="AXLE5"/>
			<xs:enumeration value="AXLE6"/>
			<xs:enumeration value="AXLE7"/>
			<xs:enumeration value="AXLE8"/>
			<xs:enumeration value="MULTIAXLE"/>
			<xs:enumeration value="VEHCLASS1"/>
			<xs:enumeration value="VEHCLASS2"/>
			<xs:enumeration value="VEHCLASS3"/>
			<xs:enumeration value="VEHCLASS4"/>
			<xs:enumeration value="VEHCLASS5"/>
			<xs:enumeration value="VEHCLASS6"/>
			<xs:enumeration value="VEHCLASS7"/>
			<xs:enumeration value="VEHCLASS8"/>
			<xs:enumeration value="VEHCLASS9"/>
			<xs:enumeration value="VEHCLASS10"/>
			<xs:enumeration value="VEHCLASS11"/>
			<xs:enumeration value="VEHCLASS12"/>
			<xs:enumeration value="VEHCLASS13"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="laneType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ALL"/>
			<xs:enumeration value="LEFTLANE"/>
			<xs:enumeration value="LEFTLANE2"/>
			<xs:enumeration value="LEFTLANE3"/>
			<xs:enumeration value="MIDDLELANE"/>
			<xs:enumeration value="MIDDLELANE2"/>
			<xs:enumeration value="MIDDLELANE3"/>
			<xs:enumeration value="RIGHTLANE"/>
			<xs:enumeration value="RIGHTLANE2"/>
			<xs:enumeration value="RIGHTLANE3"/>
			<xs:enumeration value="CARPOOLLANE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="destinationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BRIDGE"/>
			<xs:enumeration value="TUNNEL"/>
			<xs:enumeration value="FREEWAY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tollInfoType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="STATIC"/>
			<xs:enumeration value="DYNAMIC"/>
			<xs:enumeration value="MIXED"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="paymentOption">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CASH"/>
			<xs:enumeration value="FasTrak"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="paymentOptionsType">
		<xs:sequence>
			<xs:element name="payment-option" type="paymentOption" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="tollingMethod">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Cash"/>
			<xs:enumeration value="Transponder"/>
			<xs:enumeration value="LicensePlate"/>
			<xs:enumeration value="Invoice"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="tollingMethodsType">
		<xs:sequence>
			<xs:element name="tolling-method" type="tollingMethod" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tollExemptionsType">
		<xs:sequence>
			<xs:element name="vehicle-type" type="vehicleType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="lane-type" type="laneType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="general" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tollRestrictionsType">
		<xs:sequence>
			<xs:element name="vehicle-type" type="vehicleType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="lane-type" type="laneType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="general" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tolledVehiclesType">
		<xs:sequence>
			<xs:element name="vehicle-type" type="vehicleType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="tollPriceType">
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
</xs:schema>
